<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Runner</display-name>
    <servlet-name>Runner</servlet-name>
    <servlet-class>queryrunner.Runner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Runner</servlet-name>
    <url-pattern>/Runner</url-pattern>
  </servlet-mapping>
  <display-name>queryrunner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Producto</display-name>
    <servlet-name>Producto</servlet-name>
    <servlet-class>products.Producto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Producto</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>